/* * {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #777;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #777;
  color:#fff
}

/* Caption text */
.text {
  color: red;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Ai */
.search-div {
  width: 100%;
  margin: auto;
}

.search-div form {
  text-align: center;
  padding: 50px;
}

.search-div input {
  font-size: larger;
  font-family: 'Roboto', sans-serif;
  height:2rem;
  border: 3px solid #777;
  border-radius: 10px;
}

.photo {
  width: 80%;
  height: 600px;
  object-fit: contain;
  display:block;
  margin:auto;
}

.last-div {
  text-align: center;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size:larger;
  border: none;
  border-radius: 10px;
  background-color: #777;
  color:#fff;
  padding:10px;
  margin:20px;
  transition: color 2s, background-color 2s;
}

button:hover {
  color:blue;
  border: 3px solid aqua;
  background-color:aliceblue;
}



@media screen and (max-width: 768px) {
  /* body {
    background-color: lightgreen;
  } */

  .search-div {
    width: 100%;
    margin: auto;
  }
  
  .search-div form {
    text-align: center;
    padding: 50px;
  }
  
  .search-div input {
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    height:2rem;
    border: 3px solid #777;
    border-radius: 10px;
  }
  
  /* .photo {
    width: 80%;
    height: 600px;
    object-fit: contain;
    display:block;
    margin:auto;
  } */
  
  button {
    font-size:large;
    padding:10px;
    /* margin:auto; */
    transition: color 2s, background-color 2s;
    /* display:block; */
  }
}




@media screen and (max-width: 576px) {
  /* body {
    background-color: peru;
  } */

  .search-div {
    width: 100%;
    margin: auto;
  }
  
  .search-div form {
    text-align: center;
    padding: 50px;
  }
  
  .search-div input {
    font-size: medium;
    height:2rem;
    border: 3px solid #777;
  }
  
  .photo {
    width: 80%;
    height: 600px;
    object-fit: contain;
    display:block;
    margin:auto;
  }

  button {
    font-size:medium;
    padding:10px;
    margin:auto;
    margin-top:10px;
    display:block;
  }
}